body {
    font-family: Annie Use Your Telescope;
    font-size: 30px;
    margin: 20px;
    background-image: url("https://hathaaaway.github.io/HW4/Materials/source.gif");
}

h1 {
    font-family: Bangers;
    font-size: 40px;
    align: center;
}
